<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geoportail Hydro</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="h-screen w-screen bg-yellow-100 bg-cover bg-center flex items-center justify-center">
    <div class="text-center flex flex-col items-center justify-center">
        <img src="https://s6.imgcdn.dev/JhWlq.png" class="w-100" alt="Min hydrocarbure">
        <h2 class="text-3xl mb-4 text-black"><b>Bienvenue sur HydroPortail</b></h2>
        <a href="/login" class="bg-white text-black-500 px-4 py-2 rounded">Se connecter</a>
    </div>
</body>
</html>
