<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geoportal Map</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map { height: 100vh; }
    </style>
</head>
<body class="bg-gray-50 text-gray-800">
    <div class="flex h-screen">
        <!-- Sidebar -->
        <div class="w-64 bg-gray-100 text-gray-900 flex flex-col">
            <div class="p-4 text-lg font-semibold border-b border-gray-300">Map Layers</div>
            <div class="flex-1 overflow-y-auto p-4">
                <!-- list of layer here -->
                <div class="mb-4 flex items-center">
                    <input type="checkbox" class="form-checkbox mr-2" id="layer1">
                    <label for="layer1" class="text-sm">Layer 1</label>
                </div>
                <div class="mb-4 flex items-center">
                    <input type="checkbox" class="form-checkbox mr-2" id="layer2">
                    <label for="layer2" class="text-sm">Layer 2</label>
                </div>
            </div>
            <hr class="border-gray-300 my-4">
            <div class="p-4">
                <label for="filter" class="block mb-2 font-medium">Fitre d'adresses</label>
                <input type="text" id="filter" class="form-input w-full mb-4 text-black" placeholder="Type to filter...">
                <div class="overflow-y-auto h-64">
                    <ul id="addressList" class="list-disc pl-5 space-y-1">
                        <li>Address 1</li>
                        <li>Address 2</li>
                        <li>Address 3</li>
                        <li>Address 4</li>
                        <li>Address 5</li>
                        <li>Address 6</li>
                        <li>Address 7</li>
                        <li>Address 8</li>
                        <li>Address 9</li>
                        <li>Address 10</li>
                        <li>Address 11</li>
                        <li>Address 12</li>
                        <li>Address 13</li>
                        <li>Address 14</li>
                        <li>Address 15</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <div class="flex-1 flex flex-col">
            <!-- Navbar -->
            <div class="bg-gray-200 text-gray-900 p-4 flex justify-between items-center">
                <div class="text-lg font-semibold">HydroPortail</div>
                <div class="hidden md:flex space-x-4">
                    <!-- Add navbar items here -->
                    <a href="{% url 'map'  %}" class="text-gray-600 hover:text-gray-900">Accueil</a>
                    <a href="{% url 'about'  %}" class="text-gray-600 hover:text-gray-900">Apropos</a>
                    <a href="{% url 'logout'  %}" class="text-gray-600 hover:text-gray-900">Deconnexion</a>
                </div>
                <div class="md:hidden">
                    <button id="menu-button" class="text-gray-600 hover:text-gray-900 focus:outline-none">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="bg-gray-200 text-gray-900 p-4 flex justify-between items-center">
                <div class="flex space-x-4">
                    <div class="flex flex-col">
                        <label for="province" class="block mb-2 font-medium">Province</label>
                        <select id="province" class="form-select text-black">
                            <option value="province1">Province 1</option>
                            <option value="province2">Province 2</option>
                            <option value="province3">Province 3</option>
                        </select>
                    </div>
                    <div class="flex flex-col">
                        <label for="territory" class="block mb-2 font-medium">Territoire</label>
                        <select id="territory" class="form-select text-black">
                            <option value="territory1">Territoire 1</option>
                            <option value="territory2">Territoire 2</option>
                            <option value="territory3">Territoire 3</option>
                        </select>
                    </div>
                    <div class="flex flex-col">
                        <label for="sector" class="block mb-2 font-medium">Secteur</label>
                        <select id="sector" class="form-select text-black">
                            <option value="sector1">Secteur 1</option>
                            <option value="sector2">Secteur 2</option>
                            <option value="sector3">Secteur 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Map content -->
            <div id="map" class="flex-1"></div>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="markerModal" class="fixed inset-0 overflow-y-auto" style="z-index:500!important; display: none;">
        <div class="flex items-center justify-center min-h-screen">
            <div class="bg-white p-4 rounded shadow-lg">
                <div class="flex justify-between items-center border-b pb-2 mb-4">
                    <h2 class="text-xl font-semibold">Details</h2>
                    <button id="closeModal" class="text-gray-500 hover:text-gray-700">&times;</button>
                </div>
                <div id="modalContent">
                    <!-- Add your modal content here -->
                    <p>This is the information about the marker.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([-4.394587, 15.3076858], 14);

        var layer1 = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var layer2 = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
            maxZoom: 17,
            attribution: 'Map data: &copy; <a href="https://www.opentopomap.org">OpenTopoMap</a> contributors'
        });

        document.getElementById('layer1').addEventListener('change', function() {
            if (this.checked) {
                map.addLayer(layer1);
            } else {
                map.removeLayer(layer1);
            }
        });

        document.getElementById('layer2').addEventListener('change', function() {
            if (this.checked) {
                map.addLayer(layer2);
            } else {
                map.removeLayer(layer2);
            }
        });

        const pointIcon = L.Icon.extend({
            options: {
                shadowUrl: "",
                iconSize:     [30, 35],
                shadowSize:   [50, 64],
                iconAnchor:   [22, 94],
                shadowAnchor: [4, 62],
                popupAnchor:  [-3, -76]
            }
        });

        const stationIcon = new pointIcon({iconUrl: "{% static 'station_marker.png' %}"});
        var depotIcon = L.icon({
            iconUrl: "{% static 'OIP.png' %}",
            iconSize: [25, 25], 
            iconAnchor: [12, 12], 
            popupAnchor: [0, -12] 
        });
        var detailIcon = L.icon({
            iconUrl: "{% static 'detaillant.png' %}",
            iconSize: [20, 20], 
            iconAnchor: [10, 10], 
            popupAnchor: [0, -10] 
        });

        // Fetch station data from the API
        fetch('/geoportal/api/stations/')
            .then(response => response.json())
            .then(data => {
                data.forEach(station => {
                    var icon;
                    if (station.type_id == 2) {
                        icon = stationIcon;
                    } else if (station.type_id == 1) {
                        icon = depotIcon;
                    } else if (station.type_id == 3) {
                        icon = detailIcon;
                    }
                    var marker = L.marker([station.latitude, station.longitude], { icon: icon }).addTo(map);
                    marker.on('click', function() {
                        var modal = document.getElementById('markerModal');
                        var modalContent = document.getElementById('modalContent');
                        modalContent.innerHTML = `<p><b>Nom :</b> ${station.name}</p><p><b>Proprietaire :</b> ${station.owner}</p>`;
                        modal.style.display = 'block';
                        map.setView([station.latitude, station.longitude], 17);
                    });
                });
            });

        document.getElementById('closeModal').addEventListener('click', function() {
            var modal = document.getElementById('markerModal');
            modal.style.display = 'none';
        });

        // Geolocation functionality
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var userLat = position.coords.latitude;
                var userLng = position.coords.longitude;
                var userMarker = L.marker([userLat, userLng]).addTo(map)
                    .bindPopup('vous')
                    .openPopup();
                map.setView([userLat, userLng], 14);
            }, function() {
                alert('Geolocation failed.');
            });
        } else {
            alert('Nota : ce navigateur ne supporte pas la géolocalisation.');
        }
    </script>
</body>
</html>